/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/09/2018, 10:55:55
    Author     : William
*/

div{
    background: cornflowerblue;
}

.dadosPro{
    background: lightcoral;
}

.acoes{
    background-color: lightgreen;
}