body{
    background: whitesmoke;
}

h2{
    display: inline;
    border-bottom-style: solid;
}

.grupo, .grupo2{
    display: flex;
}

.item1{
    margin-right: 200px;
}

.item2{
    margin-right: 222px;
}

.item3{
    margin-right: 160px;
}

.item4{
    margin-right: 88px;
}

span{
    color: red;
}

